body { 
  font-family: "Times New Roman", Times, serif;
  background-color: #fff;
}

h1 {
    text-align: center;
    color: #5682B1;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  color: #5682B1;
}

th {
  background-color: #5682B1;
  color: white;
}

.footer {
  background-color: #5682B1;
  color: white;
  font-weight: bold;
  text-align: center;
}